@charset "utf-8";

body {
	text-align: center;
	background-image: url(img/backimg.png);
}

#div1 {
	overflow: hidden;
	clear: both;
}

h1 {
	font-size: 4rem;
	color: white;
	text-shadow: 1px 1px 0 #000,
							 1px -1px 0 #000,
							 -1px 1px 0 #000,
							 -1px -1px 0 #000;
}

ol {
	width: 50%;
	margin: auto;
	margin-bottom: 2rem;
	padding: 1rem;
	background-color: white;
	border: 5px dotted green;
}

ol li {
	text-align: left;
	margin-left: 3rem;
	line-height: 1.6;
}

ul {
	float: right;
	margin: 5rem 1rem;
	padding: 1rem;
	background-color: white;
	border: 5px dotted orange;
}

ul li {
	list-style-type: none;
	margin: 1rem;
	width: 80%;
}

input[type="text"] {
	width: 30%;
}

#div2 {
	border-top: 1rem dotted white;
	padding: 2rem;
}

table {
	border: 1px solid black;
	width: 1000px;
	height: 500px;
	margin: auto;
	border-collapse: collapse;
}

td.yes {
	width: 10px;
	height: 10px;
	margin: 0;
	box-sizing: border-box;
	border: solid 1px #ccc;
}

td.non {
	width: 10px;
	height: 10px;
	margin: 0;
	box-sizing: border-box;
}
