@charset "utf-8";

body {
	background-image: url(../img/back.png);
	font-family: 'alba', fantasy;
	margin: 0;
}

header {
	width: 100%;
	margin: 0 auto;
}

header ul {
	background-color: #eee;
	margin: 0;
	text-align: center;
	list-style-type: none;
}

header ul li{
	display: inline-block;
	font-size: 1.5rem;
	padding: 5px;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #fd0;
}

section.shop {
	background: linear-gradient(to top, #fec, #fff);
	width: 80%;
	margin: 0 1rem;
	text-align: center;
}

h1 {
	font-size: 5rem;
	color: #ffe;
	text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000;
}

main {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	clear: both;
}

article {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	background: linear-gradient(to bottom, #fff, #fec);
	width: 55%;
	margin: 0 0 1rem 2rem;
	padding: 2rem 1rem;
}

article ul {
	line-height: 2rem;
}


section.menu {
	display: flex;
	flex-wrap: wrap;
	width: 40%;
	float: right;
	margin: 0;
}


table {
	background-color: #fff;
	box-sizing: border-box;
	text-align: center;
	border: solid 1px #000;
	margin: 1rem auto;
	border-collapse: collapse;
}

table th {
	background-color: #fec;
	border-bottom: solid 1px #000;
	border-left: solid 1px #000;
	font-size: 1.3rem;
}

caption {
	background: linear-gradient(to top, #fec, #fff);
	font-size: 1.5rem;
}

table td {
	border-bottom: solid 1px #000;
	border-left: solid 1px #000;
	font-size: 1.2rem;
	padding: 1rem 2.5rem;
}


footer{
	margin: 0 auto;
	background-color: #eee;
	padding: 1rem 3rem;
}

footer p {
	text-align: center;
	line-height: 2rem;
}
