@charset "utf-8";

body {
	background-color: #cfc;
	margin: 0;
	padding: 0;
}

header {
	background-color: #ffc;
	margin-top: 0;
	padding: 3rem;
}

h1 {
	margin: 0;
	text-align: center;
	font-size: 3rem;
	color: #fff;
	text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000; 
}

header p {
	text-align: center;
}

section {
	width: 40%;
	border: dotted 3px #000;
	margin: 2rem;
	padding: 1rem;
}